/* outside in CSS organization method */
/* style rules that apply to multiple sections */
html, body {
  background-color: #F5F5F5;
  font-family: 'Biryani', sans-serif;
}

p, h1, h2, th, td {
  color: #363636;
  font-weight: bold;
}

/* left-side navigation bar */
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 80px;
  height: 100%;
  background: white;
}

.logo {
  position: absolute;
  margin-top: 10px;
  width: 75px;
  height: 75px;
}

ul {
  margin-top: 300px;
  padding-inline-start: 0px;
  list-style: none;
}

/* li {
  border-left: solid 6px #1CA3BA;
} */

/* Code I used originally in Week 1 to have a hover effect. */
li {
  border-left: solid 6px transparent;
}

.highlight:hover {
  border-left: solid 6px #1CA3BA;
}

.nav-icon-dashboard, .nav-icon-transactions, .nav-icon-profile {
  width: 40px;
  height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 14px;
}

/* website header */
header {
  margin-bottom: 20px;
}

h1 {
  margin-left: 10px;
  margin-bottom: 1px;
  font-size: 1.75em;
}

/* dashboard page */
main {
  position: relative;
  width: 90%;
  margin-left: 90px;
  padding: 10px;
}

button {
  display: inline-block;
  padding: 7px 16px 5px 16px;
  color: white;
  background-color: #1CA3BA;
  border: 0;
  border-radius: 17px;
  font-family: 'Biryani', sans-serif;
  font-size: 11px;
  text-align: center;
  text-transform: uppercase;
}

/* left side section of dashboard page */
.overview {
  display: inline-block;
  vertical-align: top;
  width: 47%;
  margin-left: 1%;
  margin-right: 5%;
}

/* welcome banner */
.welcome-banner {
  position: relative;
  margin: 0px 0px 30px 0px;
  padding: 10px 20px 10px 10px;
  background-image: linear-gradient(to right, #8ED1DC, #E3F4F6);
  border-radius: 3px;
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.05);
}

h2 {
  margin-left: 10px;
  font-size: 1.3em;
}

.close-box {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 15px;
  right: 15px;
}

/* high-level overview cards */
.overview-cards {
  width: 100%
  height: 100%;
}

.income-card {
  display: inline-block;
  width: 29%;
  margin-right: 5.5%;
  background-color: white;
  border-radius: 3px;
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.05);
}

.expense-card {
  display: inline-block;
  width: 29%;
  margin-right: 5.5%;
  background-color: white;
  border-radius: 3px;
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.05);
}

.credit-card {
  display: inline-block;
  width: 29.5%;
  background-color: white;
  border-radius: 3px;
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.05);
}

.card-title {
  margin-top: 20px;
  margin-bottom: -16px;
  padding-left: 15px;
  font-size: 11px;
  text-transform: uppercase;
}

.card-amount {
  padding-left: 15px;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

/* account section */
.account-titles {
  position: relative;
  width: 100%;
  height: 12%;
}

.title-name {
  position: absolute;
  display: inline-block;
  margin-top: 7%;
  margin-left: 0%;
  margin-bottom: 1%;
  margin-right: 0%;
}

.title-button {
  position: absolute;
  margin-top: 7%;
  margin-left: 75.5%;
  margin-bottom: 1%;
  margin-right: 0%;
}

.account-card {
  position: relative;
  width: 100%;
  height: 9%;
  margin-bottom: 20px;
  background-color: white;
  border-radius: 3px;
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.05);
}

.account-icon {
  position: absolute;
  width: 10%;
  height: 45%;
  margin-top: 3%;
  margin-left: 0%;
  margin-bottom: 2%;
  margin-right: 2%;
}

p.account-name, p.account-type {
  display: inline-block;
}

p.account-name {
  position: absolute;
  margin-top: 4%;
  margin-left: 20%;
  margin-bottom: 2%;
  margin-right: 0%;
}

p.account-type {
  position: absolute;
  margin-top: 4%;
  margin-left: 75%;
  margin-bottom: 2%;
  margin-right: 0%;
}

/* right side section of dashboard page */
.dashboard-transactions {
  position: absolute;
  display: inline-block;
  width: 47%;
  vertical-align: top;
  background-color: white;
  border-radius: 3px;
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.05);
}

.dashboard-transactions-titles {
  position: relative;
  width: 47%;
  height: 10%;
  padding-left: 5%;
  padding-right: 5%;
}

.dashboard-transactions-name {
  position: absolute;
  display: inline-block;
  margin-top: 10%;
  margin-left: 0%;
  margin-bottom: 0%;
  margin-right: 0%;
}

.new-transaction-button {
  position: absolute;
  margin-top: 10%;
  margin-left: 117%;
  margin-bottom: 2%;
  margin-right: 0%;
}

table {
  width: 90%;
  margin-top: 13%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
  border-spacing: 0px;
}

th, td {
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  border-bottom: 1px solid #CCCCCC;
}

th {
  text-align: left;
}

th.payee-column {
  padding-right: 20%;
}

.transactions-header {
  position: relative;
  width: 620px;
  height: 60px;
}

.all-button {
  position: absolute;
  margin-left: 325px;
}

.inflow-button {
  position: absolute;
  margin-left: 385px;
}

.outflow-button {
  position: absolute;
  margin-left: 470px;
}


/* transactions page */
.transactions-detailed {
  /* position: absolute; */
  /* display: inline-block;
  width: 47%;
  vertical-align: top; */
  background-color: white;
  border-radius: 3px;
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.05);
}

/* pulling from top to review what isn't needed - delete later
.overview {
  display: inline-block;
  vertical-align: top;
  width: 47%;
  margin-left: 1%;
  margin-right: 5%;
} */

.transactions-detailed-table {
    /* width: 90%; */
    margin-top: 5%;
    /* margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    border-spacing: 0px; */
}

.new-transaction {
  position: absolute;
  display: inline-block;
  width: 47%;
  vertical-align: top;
  background-color: white;
  border-radius: 3px;
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.05);
}

.new-transaction-header {
  text-align: center;
}

.transactions-form {
  width: 70%;
  height: 50%;
  margin-block-end: 0px;
  margin-inline-start: 15%;
}

.log-expense-button {
    display: block;
    margin-top: 5%%;
    margin-bottom: 5%;
}

h4 {
  margin: 0px 0px;
}

.transaction-type-input, .category-input, .account-input, .payee-input, .outflow-input, .category-text-input {
  width: 100%;
  height: 25px;
  margin-bottom: 5%;
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.05);
}

/* JS add-ons --- QUESTION: should I move each part to the section of the code it impacts? Or should I have it be a lower, seperate section for JS? */
.hide-welcome {
  display: none;
}

.highlight-border {
  border-left: solid 6px #1CA3BA
}

.hide-page {
  display: none;
}
