/* style rules that apply to multiple sections */
html, body {
  font-family: 'Biryani', sans-serif;
  background-color: #F5F5F5;
}

p, h1, h2, th, td {
  color: #363636;
  font-weight: bold;
}

/* left-side navigation bar */

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 80px;
  height: 100%;
  background: white;
}

.logo {
  width: 75px;
  height: 75px;
  position: absolute;
  margin-top: 10px;
}

ul {
  list-style: none;
  margin-top: 300px;
  padding-inline-start: 0px;
}

li {
  border-left: solid 6px transparent;
}

.highlight:hover {
  border-left: solid 6px #1CA3BA;
}

.nav-icon {
  width: 40px;
  height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 14px;
}

/* website header */

header {
  margin-left: 90px;
  padding: 10px;
}

h1 {
  font-size: 1.75em;
  margin-left: 10px;
  margin-bottom: 1px;
}

/* main page */

main {
  margin-left: 90px;
  padding: 10px;
  position: relative;
  width: 90%;
}

button {
  background-color: #1CA3BA;
  color: white;
  text-transform: uppercase;
  font-family: 'Biryani', sans-serif;
  text-align: justify;
  border-radius: 12px;
}

/* left side section of main page */

.overview {
  display: inline-block;
  vertical-align: top;
  width: 47%;
  margin-left: 1%;
  margin-right: 5%;
}

/* welcome banner */

.welcome-banner {
  background-image: linear-gradient(to right, #8ED1DC, #E3F4F6);
  margin: 0px 0px 30px 0px;
  padding: 10px 20px 10px 10px;
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.05);
  border-radius: 3px;
  position: relative;
}

h2 {
  margin-left: 10px;
  font-size: 1.3em;
}

.close-box {
  width: 10px;
  height: 10px;
  position: absolute;
  top: 15px;
  right: 15px;
}

/* high-level overview cards */

.overview-cards {
  width: 100%
  height: 100%;
}

.income-card {
  width: 29%;
  margin-right: 5.5%;
  display: inline-block;
  background-color: white;
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.05);
  border-radius: 3px;
}

.expense-card {
  width: 29%;
  margin-right: 5.5%;
  display: inline-block;
  background-color: white;
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.05);
  border-radius: 3px;
}

.credit-card {
  width: 29.5%;
  display: inline-block;
  background-color: white;
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.05);
  border-radius: 3px;
}

.card-title {
  font-size: 11px;
  padding-left: 15px;
  margin-top: 20px;
  margin-bottom: -16px;
  text-transform: uppercase;
}

.card-amount {
  font-size: 20px;
  font-weight: bold;
  padding-left: 15px;
  text-transform: uppercase;
}

/* account section */

.account-titles {
  position: relative;
  width: 100%;
  height: 12%;
}

.title-name {
  display: inline-block;
  position: absolute;
  margin-top: 7%;
  margin-left: 0%;
  margin-bottom: 1%;
  margin-right: 0%;
}

.title-button {
  display: inline-block;
  position: absolute;
  margin-top: 7%;
  margin-left: 72%;
  margin-bottom: 1%;
  margin-right: 0%;
  font-size: 15px;
}

.account-card {
  width: 100%;
  height: 9%;
  margin-bottom: 20px;
  background-color: white;
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.05);
  border-radius: 3px;
  position: relative;
}

.account-icon {
  width: 10%;
  height: 45%;
  margin-top: 3%;
  margin-left: 0%;
  margin-bottom: 2%;
  margin-right: 2%;
  position: absolute;
}

p.account-name, p.account-type {
  display: inline-block;
}

p.account-name {
  position: absolute;
  margin-top: 4%;
  margin-left: 20%;
  margin-bottom: 2%;
  margin-right: 0%;
}

p.account-type {
  position: absolute;
  margin-top: 4%;
  margin-left: 75%;
  margin-bottom: 2%;
  margin-right: 0%;
}

/* right side section of main page */

.transactions {
  display: inline-block;
  position: absolute;
  background-color: white;
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.05);
  border-radius: 3px;
  vertical-align: top;
  width: 47%;
}

.transactions-titles {
  padding-left: 5%;
  padding-right: 5%;
  height: 10%;
  width: 47%;
  position: relative;
}

.transactions-name {
  display: inline-block;
  position: absolute;
  margin-top: 10%;
  margin-left: 0%;
  margin-bottom: 0%;
  margin-right: 0%;
}

.new-transaction-button {
  display: inline-block;
  position: absolute;
  margin-top: 10%;
  margin-left: 108%;
  margin-bottom: 2%;
  margin-right: 0%;
  font-size: 15px;
}

table {
  border-spacing: 0px;
  width: 90%;
  margin-top: 13%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
}

th, td {
  border-bottom: 1px solid #CCCCCC;
  padding-top: 1%;
  padding-bottom: 1%;
}

th {
  text-align: left;
}

th.payee-column {
  padding-right: 20%;
}

/* JS add-ons */

.poof {
  display: none;
}
